*{
    box-sizing: border-box;
    text-decoration: none;
}

*:focus{
    outline: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login{
    margin: 20px auto;
    width: 300px;
}

.login-screen{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.app-title{
    text-align: center;
    color: #777;
}


.control-group{
    margin-bottom: 10px
}

input{
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 2oo;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus{
    border: 2px solid #3498D8;
    box-shadow: none;
}

.btn{
    border: 2px solid transparent;
    background: #3498D8;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-top: 5px;
}

.btn:hover{
    background-color: #2980B9;
}

.container-head {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: #e5cf09;
}

header .logo {
    margin-right: auto;
    
}

header .logo img {
    display: block;
    height: 180px;
}

.menu li {
    float: left;
}

.menu li a {
    padding: 50px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    transition: all .5s ease;
}

.menu li:hover a {
    background: #878508;
    
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    
}

.container-head {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.features-body .container {
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.siparis-sonuc {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.siparis-sonuc h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

footer {
    background: linear-gradient(
                rgba(0,0,0,.7),
                rgba(0,0,0,.7)
                ),
                url('../resimler/aracici.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:bottom;
    text-align: center;
    
}

footer-linkleri a{
    color: #e5cf09;
}

.footer-item {
    padding: 90px;
    text-align: center;
}

.footer-item img {
    height: 150px;
    
}

.footer-item p {
    font-size: 15px;
    color: dimgrey;
}

.footer-item a {
    height: 60px;
    color: #e5cf09;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-decoration: none;
}